name: Build Windows Client

on:
  push:
    branches: [ "master" ]

jobs:
  build:
    runs-on: windows-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Setup MSVC
      uses: ilammy/msvc-dev-cmd@v1

    - name: Install dependencies with vcpkg
      run: |
        vcpkg install boost-system:x64-windows
        vcpkg install boost-filesystem:x64-windows
        vcpkg install boost-thread:x64-windows
        vcpkg install physfs:x64-windows
        vcpkg install openal-soft:x64-windows

    - name: Configure
      run: |
        cmake -S . -B build ^
          -G "Visual Studio 17 2022" ^
          -A x64 ^
          -DCMAKE_TOOLCHAIN_FILE=C:\vcpkg\scripts\buildsystems\vcpkg.cmake ^
          -DBOOST_ROOT=C:\vcpkg\installed\x64-windows ^
          -DBoost_INCLUDE_DIR=C:\vcpkg\installed\x64-windows\include ^
          -DBoost_LIBRARY_DIR_RELEASE=C:\vcpkg\installed\x64-windows\lib ^
          -DBoost_LIBRARY_DIR_DEBUG=C:\vcpkg\installed\x64-windows\debug\lib

    - name: Build
      run: cmake --build build --config Release

    - name: Upload Artifact
      uses: actions/upload-artifact@v4
      with:
        name: otclient-windows
        path: build/bin/Release/
